
.app-header{
  text-align: center;
}

.app h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #170000;
}

.search-bar {
  justify-content: center;
  margin-bottom: 40px;
    
}

.search-bar input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  width: 250px;
  border: 2px solid black; 
}

.search-bar input::placeholder {
  color: #999;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: #ff9a9e;
  color: white;
  border: 2px solid black; 

}

.search-bar button:hover {
  background-color: #d95b5f;
}